flake8==7.3.0
pycodestyle==2.14.0
typing_extensions==4.15.0
annotated-types==0.7.0
librt==0.8.1
mccabe==0.7.0
mypy==1.20.0
mypy_extensions==1.1.0
pathspec==1.0.4
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
typing-inspection==0.4.2
mazegenerator-00001-py3-none-any.whl
pygame==2.6.1
